*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
}

header {
  background-color: #ffc017;
}

.marginContainer {
  max-width: 1400px;
  margin: auto;
}

.borderBreak {
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem 1.5rem;
  align-items: center;
}
nav div {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  gap: 0px 21px;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  width: 130%;
}

#hero h1 {
  font-weight: 500;
  font-family: "Spectral", serif;
  font-size: 90px;
}

#hero {
  display: flex;
  justify-content: space-between;
}

#hero img {
  height: 342px;
  width: 435px;
  object-fit: cover;
}

#heroText {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#heroText p {
  max-width: 290px;
}

#trending {
  margin-top: 2rem;
  border-bottom: 1px solid lightgray;
}

h2 {
  /* margin-block: 1rem; */
  padding-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
}

h2 img {
  vertical-align: middle;
  margin-right: 0.5em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 23px;
  font-size: 19px;
  max-width: 350px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 23px;
  font-size: 20px;
  max-width: 440px;
}

.in {
  color: gray;
}

.news {
  width: 33.333%;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  gap: 0px 19px;
}

.newsArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 9px;
}

.newsArticle p:first-of-type {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.newsArticle p:last-of-type {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: gray;
}

.newsNumber {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: lightgray;
  font-size: 32px;
  font-weight: 700;
  line-height: 19px;
}

.Tom {
  vertical-align: middle;
  margin-right: 5px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.Jerry {
  vertical-align: middle;
  margin-right: 5px;
  width: 23px;
  height: 23px;
  border-radius: 5px;
}

.articlesSlot {
  display: flex;
  flex-wrap: wrap;
  height: 260px;
  margin-bottom: 1rem;
}

#pippo {
  display: flex;
  margin-block: 4rem 2rem;
}

#column {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 130vh;
  justify-content: space-between;
  align-items: flex-start;
}

.article {
  display: flex;
  justify-content: space-between;
  max-height: 140px;
  max-width: 770px;
}

.columnImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columnArticleText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.columnArticleText p:first-of-type {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.columnArticleText p:nth-last-of-type(2) {
  max-width: 520px;
  /* font-size: 15px; */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: gray;
  line-height: 20px;
}

.columnArticleText p:last-of-type {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: gray;
}
